.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.anim-appear {
  opacity: 0.1;
}
.anim-appear.anim-appear-active{
  opacity: 1;
  transition: opacity 3s ease-in;
}

/*.anim-enter {
  opacity: 0.1;
}
.anim-enter.anim-enter-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}*/

.anim-leave {
  opacity: 0.2;
}
.anim-leave.anim-leave-active {
  opacity: 1;
  transition: opacity 3s linear;
}

.anim2-appear {
  opacity: 0.01;
}
.anim2-appear.anim2-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}

.anim-2-enter {
  opacity: 0.01;
}
.anim2-enter.anim2-enter-active{
  opacity: 2;
  transition: opacity 7s ease-in;
}
